<div><a href="/">Home</a></div>
<br>
<h3>Title: <%=@question.title%></h3>

<%= erb :_errors%>


<form method="post" class="vote-button" action='/questions/<%= @question.id %>/vote' class="inline">
  <button type="submit" name="vote_num" value="1" class="fa fa-sort-desc vote-button downvote-button"></button>
  <input type="hidden" name="type" value="Question">
</form>


<%=@question_vote_count%>

<form method="post" class="vote-button" action='/questions/<%= @question.id %>/vote' class="inline">
  <button type="submit" name="vote_num" value="-1" class="fa fa-sort-desc vote-button downvote-button"></button>
  <input type="hidden" name="type" value="Question">
</form>

Content: <%=@question.content%>
<br>

Tags:<% @question.tags.each do |tag| %>
  <p><a href="/tags/<%=tag.id%>"><%=tag.name%></a></p>
<% end %>

<h3>Question Comments</h3>
<ul>
<% @question.comments.each do |comment| %>
  <li>
    <%=comment.content%>
  </li>
<% end %>
</ul>



<form action="/comments" method="Post">
  <textarea rows="2" cols="50" type='text' name='comment[content]'></textarea>
  <input type="hidden" name="question_id" value="<%=@question.id%>">
  <input type="hidden" name="commentable_id" value="<%=@question.id%>">
  <input type="hidden" name="comment_type" value="Question">
  <input type="submit" value="Comment!">
  <br>
</form>


<div id="answer_container">
<%=@question.answers.count%> Answers
<h1>Answers</h1>
<p>=========================================</p>
<br>
<ul>


<%@question.answers.each do |answer|%>
<%= erb :'_answer', locals:{answer: answer, question_id: @question.id}, layout: false %>
<%end%>


</ul>


</div>

<% if logged_in? %>
<form action="/answers" id="answer-form" method="Post">
  <textarea rows="2" cols="50" type='text' name='answer[content]'></textarea>
  <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
  <input type="hidden" name="question_id" value="<%=@question.id%>">
  <input type="submit" value="Answer this question">
  <br>
</form>

<%end%>
