<div class="answer_content">

=========================================================================
<h2>ANSWER CONTENT: <%= answer.content%></h2>

  <form method="post" action='/answers/<%=answer.id%>/vote' class="inline">

    <button type="submit" name="vote_num" value="1" class="fa fa-sort-desc vote-button downvote-button"></button>
    <input type="hidden" name="type" value="Answer">
  </form>

  <%=sum_votes(answer.votes)%>

  <form method="post" action='/answers/<%=answer.id%>/vote' class="inline">
    <button type="submit" name="vote_num" value="-1" class="fa fa-sort-desc vote-button downvote-button"></button>
    <input type="hidden" name="type" value="Answer">
  </form>
  <br>



    <form method="post" action='/answers/<%=answer.id%>/best' class="inline">
    <button type="submit" name="vote_num" value="1" class="fa fa-sort-desc vote-button downvote-button">Vote Best Answer</button>
    <input type="hidden" name="type" value="Answer">
  </form>

  <h4>Comments</h4>
  <%answer.comments.each do |comment|%>
    <p><%=comment.content%></p>
  <%end%>

<button type="click" class="answer_comment">Comment on this answer</button>

<div id="answer_comment_form_container">
  <form class="answer_comment_form" action="/comments" method="Post">
  <textarea rows="2" cols="50" type='text' name='comment[content]'></textarea>
  <input type="hidden" name="commentable_id" value="<%=answer.id%>">
  <input type="hidden" name="question_id" value="<%=question_id%>">
  <input type="hidden" name="comment_type" value="Answer">
  <input type="submit" value="Comment on this answer">
  <br>
  </form>
</div>

  <% if answer.best_answer%>
    <p>Voted Best Answer!</p>
  <%end%>



</div>


